<div class="testimony testimony-items-list">
    {% if testimony.photo.url is not Null %}
        <div class="testimony-img">
            <a href="{% url 'testimonials:testimony' testimony.id %}">
                <img src="{{testimony.photo.url}}" alt="img">
            </a>
        </div>
    {% endif %}
    <div class="testimony-title-container">
        <h2 class="testimony-title">
            <a href="{% url 'testimonials:testimony' testimony.id %}">
                {{testimony.title}}
            </a>
        </h2>
    </div>

    <div class="testimony-author">
        <span class="testimony-author-item">
            <i class="fas fa-user"></i>
            {% if testimony.author is not None %}
                {% if testimony.author.first_name %}
                    {{testimony.author.first_name}} {{testimony.author.last_name}}
                {% else %}
                    {{ testimony.author.username}}
                {% endif %}
            {% else %}
                Unknown
            {% endif %}
        </span>
        <span class="testimony-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{testimony.date_creation|date:"d/m/Y"}} às {{ testimony.date_creation|date:"H:i" }}
        </span>
        {% if testimony.category is not None %}
            <span class="testimony-author-item">
                <a href="{% url 'testimonials:category' testimony.category.id %}">
                    <i class="fas fa-layer-group"></i>
                    <span>{{testimony.category.name}}</span>
                </a>
            </span>
        {% endif %}
    </div>

    {% if detail_page is not True %}
        <div class="testimony-content">
            <p>{{testimony.description}}</p>
        </div>

        <footer class="testimony-footer">
            <a class="recipe-read-more button button-dark button-full-width" href="{% url 'testimonials:testimony' testimony.id %}">
                <i class="fas fa-eye"></i>
                <span>View more...</span>
            </a>
        </footer>

    {% endif %}

    {% if detail_page is True %}
        <div class="detail-testimony">
            {{testimony.testimony| linebreaksbr}}
        </div>
    {% endif %}
</div>