{% include 'testemunhos/partials/head.html' %}

<body>
    {% include 'testemunhos/partials/header.html' %}
    {% include 'testemunhos/partials/busca.html' %}

    <main class="main-content-container">
        <div class="main-content container">

            <div class="testemunho testemunho-itens-lista">

                <div class="testemunho-img">
                    <img src="https://via.placeholder.com/1240x720.png/adff2f" alt="img">
                </div>

                <div class="testemunho-titulo-container">
                    <h2 class="testemunho-titulo">Lorem ipsum dolor sit amet.</h2>
                </div>

                <div class="testemunho-autor">
                    <span class="testemunho-autor-item">
                        <i class="fas fa-user"></i>
                        Valéria Costa
                    </span>
                    <span class="testemunho-autor-item">
                        <i class="fas fa-calendar-alt"></i>
                        30/06/2023 às 10:24
                    </span>
                    <span class="testemunho-autor-item">
                        <a href="/testemunhos/categoria/oracao/">
                            <i class="fas fa-layer-group"></i>
                            <span>Oração</span>
                        </a>
                    </span>
                </div>

                <div class="testemunho-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat commodi ullam quas modi.
                        Ea cumque labore veniam, sequi corrupti quas beatae fuga alias quae, vero dicta accusamus
                        aliquam in!</p>
                </div>


            </div>
        </div>
    </main>


</body>


<footer class="main-footer">
    <div class="developer">
        <a href="https://www.linkedin.com/in/thiagocostadiniz/" target="_blank" rel="noreferrer noopener">By Thiago
            Costa</a>
    </div>

    <div class="powered">
        <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Powered by Django</a>
    </div>
</footer>

</html>