{% extends 'global/base.html' %}

{% block title %} Home | {% endblock title %}

{% block content %}

{% include 'testimonials/partials/messages.html' %}

<div class="main-content main-content-list container">
    {% for testemunho in testimonials %}
    {% include 'testimonials/partials/testimonials.html' %}
    {% empty %}
    <div class="center m-x m-y">
        <h1>
            We don't have any testimonials yet, check back soon
        </h1>
    </div>
    {% endfor %}
</div>
{% endblock content %}