<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'testemunhos/partials/head.html' %}
    <title>{% block titulo %} {% endblock titulo %} Na Real</title>
</head>

<body>
    {% include 'testemunhos/partials/header.html' %}
    {% include 'testemunhos/partials/busca.html' %}

    <main class="main-content-container">
        {% block content %}{% endblock content %}
        
        {% include 'testemunhos/partials/paginação.html' %}
    </main>

</body>

{% include 'testemunhos/partials/rodape.html' %}

</html>