<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'testimonials/partials/head.html' %}
    <title>{% block titulo %} {% endblock titulo %} Na Real</title>
</head>

<body>
    {% include 'testimonials/partials/header.html' %}
    {% include 'testimonials/partials/search.html' %}

    <main class="main-content-container">
        {% block content %}{% endblock content %}

        {% include 'testimonials/partials/pagination.html' %}
    </main>

</body>

{% include 'testimonials/partials/footer.html' %}

</html>