<div class="testemunho testemunho-itens-lista">

    <div class="testemunho-img">
        <a href="{% url 'testemunhos:testemunho' testemunho.id %}">
            <img src="{{testemunho.foto.url}}" alt="img">
        </a>
    </div>

    <div class="testemunho-titulo-container">
        <h2 class="testemunho-titulo">
            <a href="{% url 'testemunhos:testemunho' testemunho.id %}">
                {{testemunho.titulo}}
            </a>
        </h2>
    </div>

    <div class="testemunho-autor">
        <span class="testemunho-autor-item">
            <i class="fas fa-user"></i>
            {{testemunho.autor.primeiro_nome}} {{testemunho.autor.ultimo_nome}}
        </span>
        <span class="testemunho-autor-item">
            <i class="fas fa-calendar-alt"></i>
            {{testemunho.data_criacao|date:"d/m/Y"}}
        </span>
        <span class="testemunho-autor-item">
            <a href="/testemunhos/categoria/oracao/">
                <i class="fas fa-layer-group"></i>
                <span>{{testemunho.categoria.name}}</span>
            </a>
        </span>
    </div>

    <div class="testemunho-content">
        <p>{{testemunho.descricao}}</p>
    </div>
    {% if pagina_detalhada is not True %}
        <footer class="testemunho-footer">
            <a class="recipe-read-more button button-dark button-full-width" href="{% url 'testemunhos:testemunho' testemunho.id %}">
                <i class="fas fa-eye"></i>
                <span>ver mais...</span>
            </a>
        </footer>
    {% endif %}

    {% if pagina_detalhada is True %}
        <div class="testemunho-detalhado">
            {{testemunho.testemunho| linebreaksbr}}
        </div>
    {% endif %}
</div>